//vars

$black:     #010000
$white:     #ffffff
$lightGrey:     #e6e6e6
$darkGrey:      #333333
$red:           #ff1755

// fonts - 
// regular 400
// regular 400 Italic
// bold 700
// bold 700 Italic 

//Mixins

=translateY($e)
    -webkit-transform:  translateY($e)
    -moz-transform:     translateY($e)
    -transform:         transforme($e)

=transition($e)
    -webkit-transition: $e
    -moz-transition:    $e
    transition:         $e

body 
    font-family: 'Open Sans', sans-serif
    font-size: 18px
    color: $black
    font-weight: 400
    font-style: normal


a
    text-decoration: none
    +transition(.4s ease-in-out)
    cursor: pointer

    &:hover
        color: $red
        text-decoration: none
        +transition(.4s ease-in-out)